* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgoldenrodyellow;
  font-family: Helvetica, Times, Tahoma, sans-serif;
}

.main {/*letras adentro del cuadro mas grande*/
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: center;
  color: sienna;
}

.titulo { /* color del titulo: Codigo seccreto*/
  padding: 15px;
  width: 30vw;
  margin: auto;
  color: indianred;/*peru*/;

}

.box { /* cuadro donde esta lo de encriptar y desencriptar y el mensaje recibido*/
  padding: 10px;
  margin: 0 10px 0 10px;
  box-shadow: 2px 2px 2px 1px rgb(255, 20, 147);/*rgba(0, 0, 0, 0.2);*/
  background-color: palevioletred;
  border-radius: 0.5em;
  width: 30vw;
  height: auto;
}

.btn { /* los botones*/
  border: 0;
  color: darksalmon;
  font-weight: bold;
  background-color: bisque;
  padding: 10px;
  margin-top: 10px;
  border-radius: 0.5em;
}

.text-input {
  border-radius: 0.5em;
  border: 1px solid rgb(199, 21, 133);
  display: block;
  padding: 0.9em;
  width: 100%;
  height: 50px;
}

footer{
  width: 100%;
  background: indianred;
  color: saddlebrown;
}

.container-footer-all{
  width: 100%;
  max-width: 12000px;
}

.container-body{
  display: flex;
}

.colum1{
  max-width: 400px;
}

.colum1 h1{
  font-size: 22px;
}

.colum1 p{
  font-size: 14px;
  color: firebrick;
  margin-top: 20px;

}